#main_section {
    height: 75vh;
    margin-top: 120px;

}

.main_container {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.main_body {
    text-align: center;
    padding: 0 20%;
   
}

.main_heading1 {
    color: #ffffff;
}

.main_body span {
    color: #4caf50;
    font-size: 200%;
   
}

.main_heading2{
    font-size: 170%;
    color: #fff;
    
}

.main_para {
    color: #fff;
    padding-top: 10px;
    line-height: 1.8;
    word-spacing: 0.1em;
}

.main_btn {
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
    border: 1.5px dashed #4caf50;
    font-size: 16px;
    display: inline-block;
    
}

.main_btn:hover{
    opacity: 0.5;
    border-color: #fff;
}

.main_link{
    color: #4caf50 !important;
    text-decoration: none;   
    cursor: pointer; 
}



/* about section */

#about_section {
    margin-top: 80px;
}

.about_container {
    margin: auto; 
    margin-bottom: 60px;
}

.about_heading2 {
    color: #4caf50;  
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
}

.about_heading2--span{
    font-size: 35px;
    color: #fff;
}

.about_body {
    display: flex; 
}

.about_img {
    max-width: 100%;
}

.about_content{
    flex: 50%;
    max-width: 50%;
    padding: 30px;  
}

.about_para1, .about_para2 {
   line-height: 1.8;
   color: #fff;
   padding-top: 10px; 
   word-spacing: 0.1em;
}


/* project section */
.project_container {
    margin-bottom: 20px;
}

.project_heading2 {
    color: #4caf50;  
    text-align: center;
    padding-bottom: 30px;
    font-size: 32px;
}

.project_heading2--span{
    font-size: 35px;
    color: #fff;
}
.project_body {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;  
}

.project_heading2{
    text-align: center;
    color: #4caf50;
}

.project_img{
    max-width: 100%;
}

.project_heading3{
    color: #4caf50;
    font-size: 130%;
    margin-top: 10px;
}
.project_heading4{
    color: #bbb;
}
.project_para{
    color: #fff;
}
.project_div{
    flex: 50%;
    padding: 10px;
    max-width: 50%;
    text-align: center;
    margin: 0;
    justify-content: center;
}
.project_btn {
    background-color: #222;
    border-radius: 10px;
    padding: 15px;
    margin-top: 40px;
    border: 1.5px dashed #4caf50;
    font-size: 16px;
    display: inline-block;
    
}

.project_btn:hover{
    opacity: 0.5;
    border-color: #fff;
}

.project_link{
    color: #4caf50;
    text-decoration: none;  
    cursor: pointer; 
    
}
/*contact section css*/

.contact-container h2 {
    color: #4caf50;  
    text-align: center;
    padding-bottom: 30px;
}

.footer{
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 330px){
    #about_section {
        margin-top: 300px;
        
    }
}

@media (max-width: 600px) {
    #main_section {
        height: 100vh;
        margin-top: 20px;
        margin-bottom: 20px;
        
    }
    
    .main_body {
        text-align: left;
        padding: 20px;
       
    }
    .about_body{
        flex-direction: column;
    }
    

    .about_content{
        flex: 100%;
        max-width: 100%;
        
    }

    .project_div {
        flex-direction: column;
        flex: 100%;
        max-width: 100%;
    }

    



/*contact section*/

  @media (max-width: 992px) and (min-width: 701px) {

    .about_body{
        flex-direction: column;
    }
    

    .about_content{
        flex: 100%;
        max-width: 100%;
        
    }

    .project_div {
        flex-direction:  column;
        flex: 50%;
        max-width: 50%;
    }
  }