#main-section {
    height: 75vh;
    margin-top: 120px;

}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.main-body {
    text-align: center;
    animation-delay: 0ms;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-duration: 2s;
    animation-name: cardbody;  
}
@keyframes cardbody{
    0% {
        margin-top: 100%;
        width: 300%;
    }
    100% {
        margin-top: 0%;
        width: 300%;
    }
}

.main-body h1 {
    font-size: 270%;
    color: #ffffff;
}

span.myName {
    color: #4caf50;
   
}

.main-body h2 {
    font-size: 170%;
}




/* about section */

#about-section {
    margin-top: 80px;
}

.about-container {
    margin: auto; 
    margin-bottom: 60px;
}

.about-container  h2 {
    color: #4caf50;  
    text-align: center;
    padding-bottom: 30px;
}

.about-body {
    display: flex; 
}

img {
    max-width: 100%;

}


.about-content{
    flex: 50%;
    max-width: 50%;
    padding: 30px;
    
}

.about-body p {
   font-size: 130%; 
   line-height: 1.4;
   color: #fff;
   
}



/* project section */
.project-container {
    margin-bottom: 20px;
}

.project-container h2 {
    color: #4caf50;  
    text-align: center;
    padding-bottom: 30px;
}
.project-body {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;  
}

.project-body h2{
    text-align: center;
    color: #4caf50;
}


.project h3 {
    color: #4caf50;
}

.project {
    flex: 25%;
    padding: 10px;
    max-width: 25%;
    text-align: center;
    margin: 0;
    justify-content: center;
}

/*contact section css*/

.contact-container h2 {
    color: #4caf50;  
    text-align: center;
    padding-bottom: 30px;
}

.footer{
    text-align: center;
    color: #fff;
}
@media (max-width: 600px) {
    #main-section {
        height: 100vh;
        margin-top: 90px;
    }

    .about-body{
        flex-direction: column;
    }
    

    .about-content{
        flex: 100%;
        max-width: 100%;
        
    }

    .project {
        flex-direction: column;
        flex: 100%;
        max-width: 100%;
    }

    



/*contact section*/

  @media (max-width: 992px) and (min-width: 701px) {

    .about-body{
        flex-direction: column;
    }
    

    .about-content{
        flex: 100%;
        max-width: 100%;
        
    }

    .project {
        flex-direction:  column;
        flex: 50%;
        max-width: 50%;
    }
  }