#main-section {
    height: 65vh;
    margin-top: 130px;

}

.main-container {
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.main-body {
    text-align: center;
    animation-delay: 0ms;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-duration: 2s;
    animation-name: cardbody;  
}
@keyframes cardbody{
    0% {
        margin-top: 100%;
        width: 300%;
    }
    100% {
        margin-top: 0%;
        width: 300%;
    }
}

.main-body h1 {
    font-size: 270%;
}

span.myName {
    color: #4caf50;
   
}


.main-body h2 {
    font-size: 170%;
}

.main-body button {
    margin-top: 20px;
      
}

.main-body button .arrow{
    padding-left: 5px;
    color: #4caf50;
    
}

/* about section */

#about-section {
    margin-top: 80px;
}
.about-container {
    margin: auto; 
    width: 90%;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;  
}

.about-body h2 {
    color: #4caf50;  
    text-align: center;
}

.about-body p {
   font-size: 20px; 
   line-height: 40px;
}

.about-body button {
   align-content: center; 
}


/* project section */

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;  
}

.portfolio-container h2{
    text-align: center;
    color: #4caf50;
}


.project h3 {
    color: #4caf50;
}

.project {
    flex: 25%;
    padding: 10px;
    max-width: 25%;
    text-align: center;
    margin: 0;
    justify-content: center;
}


@media (max-width: 600px) {
    #main-section {
        height: 100vh;
        margin-top: 90px;
    }

    .project {
        flex-direction: column;
        flex: 100%;
        max-width: 100%;
    }




/*contact section*/

  @media (max-width: 992px) and (min-width: 701px) {
    .project {
        flex-direction:  column;
        flex: 50%;
        max-width: 50%;
    }
}  